<template name="description">
    <h2>Description</h2>
    <p>You, your spouse and your 7-year-old child plan to go on vacation to Austrian Alps. You plan to spend at Kitzbuhel ski resort 14 days, from 23th of December to 6th of January.
       Your task is to read a detailed resort description and decide the minimum budget that your family need to go on vacation there.</p>
    <p>Suppose that the base price for all flights from you current place to Austria is the same. However, some airlines offer discounts.
        Additionally, you need to rent a car to move around the Kitzbuhel.</p>
    <p>All of you are novice skiers. So, you need to rent equipment and take a few lessons to learn how to ski.</p>
    <p>You plan to ski for full 10 days in total and spend the remaining days resting, walking, attending different events,
        and celebrating Christmas and New Year. Do not forget, that your spouse loves sport and there are so many things to delight a child at
        Christmas Eve. Try to attend as much apres-ski activities as possible.</p>
    <p>Task A: read the information about the resort then find and mark sentences that would help to plan your budget.</p>
    <p>To mark the sentence, first select it by mouse and then click “s” on the clipboard. To unmark the sentence, first select it and then click “d” on the clipboard.</p>
    <p>Task B: you are shown the selected in task A sentences and the number of users who selected them. Read the sentences and decide the minimum budget that your family need to go on vacation to Kitzbuhel.</p>

    <a href="{{pathFor 'quiz'}}" class="btn btn-primary" role="button">Next</a>

</template>
