<template name="itemText_bkp">
    <style type="text/css">
        mark {
            background-color: {{color}};
            color: black;
        }
    </style>

    <div class="row">
        <div class="col-lg-6">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" name="searchInput">
                <span class="input-group-btn">
                    <button class="btn btn-primary similarity" type="button">Add similar words</button>
                </span>
                <span class="input-group-btn">
                    <button class="btn btn-primary search" type="button">Go!</button>
                </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->

    <h2>Kitzbühel</h2>
    <p>Kitzbühel is one of Austria's best-known and luxurious winter sports resorts, situated between the mountains
        Hahnenkamm (5616 ft, 1712 m) and Kitzbühler Horn (6548 ft, 1996 m) about 100 kilometres (62 mi) east of the
        state capital of Innsbruck. Holidaymakers in Kitzbühel have 56 cableway
        and lift facilities and 168 kilometres of slopes available to them, as well as 40 kilometres of groomed
        cross-country skiing tracks.
    </p>
    <p>With around 10,000 hotel and guest house beds, Kitzbühel and its neighbours have an unusually high density of guest accommodation.
    </p>
    <p>...</p>
    <p>More about accomodation ...</p>
    <p>...</p>

    <p>Day ticket (Peak season): Adults - <mark>€</mark> 53, Youth -<mark>€</mark> 39, Children - <mark>€</mark> 26</p>
    <p>Day ticket (Saver season): Adults - <mark>€</mark> 47.50, Youth - <mark>€</mark> 35.50, Children - <mark>€</mark> 24</p>

    <p>A winter holiday in Kitzbühel provides so many opportunities that you might not want to ski every day. With a
        flexible ski pass, e.g. 5 in 7, you can go skiing for 5 days in one week and spend the remaining 2 days doing
        something else as you please.
    </p>
    <p>Short-term Ski pass option 5 in 7 (Peak season): Adults - <mark>€</mark> 243, Youth - <mark>€</mark> 182, Children - <mark>€</mark> 121</p>
    <p>Short-term Ski pass option 5 in 7 (Saver season): Adults - <mark>€</mark> 218.50, Youth - <mark>€</mark> 164, Children - <mark>€</mark> 109.50</p>
    <p>Short-term Ski pass option 10 in 14 (Peak season): Adults - <mark>€</mark> 383, Youth - <mark>€</mark> 287, Children - <mark>€</mark> 191</p>
    <p>Short-term Ski pass option 10 in 14 (Saver season): Adults - <mark>€</mark> 344.50, Youth - <mark>€</mark> 258.50, Children - <mark>€</mark> 172.50</p>

    <p>Saver season 12.-23.12.16 and 12.03.-17.04.17</p>
    <p>Peak season 24.12.16-11.03.17</p>
    <p>Free transport for infants - age group 2011 and younger</p>
    <p>Children: Age groups from 2010 and 2001</p>
    <p>Youths: Age groups from 2000 and 1998</p>

    <p>The floodlighting system on the Gaisberg enables skiing enjoyment until late at night. The evening ticket <mark>cost</mark>s
        18.50<mark>€</mark> for adults and 9.50<mark>€</mark> for children/youths. Night tobogganing also takes place on the Gaisberg slope from
        Tuesday until Saturday.
    </p>

    <p>...</p>
    <p>More about Ski school...</p>
    <p>...</p>
    <p>More about Ski Rentals...</p>
    <p>...</p>
    <p>More about transportation...</p>
    <p>...</p>
</template>