<template name="noIO">
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h3 class="panel-title">No, because:</h3>
        </div>
        <div class="panel-body">
            <div class="row top-buffer">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button">Remove</button>
                    </span>
                    <input type="text" class="form-control" placeholder="drag your refuting sentence here (no longer than 5 words)">
                </div>
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button">Remove</button>
                    </span>
                    <input type="text" class="form-control" placeholder="drag your refuting sentence here (no longer than 5 words)">
                </div>
            </div>
        </div>
    </div>
</template>