<template name="prosAndCons">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Is this resort affordable for you?</h3>
        </div>
        <div class="panel-body">
            <div class="row top-buffer">
                <div class="col-lg-6">
                    {{> yesIO}}
                </div>
                <div class="col-lg-6">
                    {{> noIO}}
                </div>
            </div>
        </div>
    </div>
</template>